bin
obj
/packages
/TestResults
Debug
Release
*.suo
*.orig
*.user
UpgradeLog.htm
*.ncrunchproject
*.ncrunchsolution
_NCrunch_BuildJenkins/
StyleCop.Cache
/_ReSharper.Caches/ReSharperPlatformVs123.JenkinsNotifier
/UpgradeLog2.htm
.nuget/
_NCrunch_JenkinsNotifier/
sonar-project.properties
JenkinsNotifier.sln.DotSettings
