<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Jenkins.Domain" publicKeyToken="2f531e0c1c11a32b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.22017" newVersion="2.1.1.22017" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GalaSoft.MvvmLight" publicKeyToken="e7570ab207bcb616" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.24261" newVersion="5.0.0.24261" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
